<div class="movie-details">
  <h1 class="movie-title"><%= @movie.title %></h1>
  <img src="<%= @movie.poster_url %>" alt="<%= @movie.title %> poster" class="movie-poster">
  <p class="movie-overview"><%= @movie.overview %></p>
  <ul class="movie-info">
    <li><strong>Rating:</strong> <%= @movie.rating %> / 10</li>
  </ul>

  <%= link_to "Back to Lists", lists_path, class: "btn btn-secondary movie-back-button" %>

  <% if params[:from_list] %>
    <%= link_to "Back to List", list_path(params[:from_list]), class: "btn btn-primary movie-back-button" %>
  <% end %>

  <%= link_to "Back to Movies", movies_path, class: "btn btn-secondary movie-back-button" %>
</div>
